<div id="stopwatch">
  <h1 class="stopwatch-heading">Stopwatch</h1>
  <div class="stopwatch-container">
    <mat-form-field appearance="fill">
      <input type="number" matInput value="{{ hh }}" disabled="{{ true }}" />
    </mat-form-field>
    <div class="stopwatch-unit">H</div>
    <mat-form-field appearance="fill">
      <input type="number" matInput value="{{ mm }}" disabled="{{ true }}" />
    </mat-form-field>
    <div class="stopwatch-unit">M</div>
    <mat-form-field appearance="fill">
      <input type="number" matInput value="{{ ss }}" disabled="{{ true }}" />
    </mat-form-field>
    <div class="stopwatch-unit">S</div>
    <mat-form-field appearance="fill">
      <input
        type="number"
        matInput
        value="{{ ms * 10 }}"
        disabled="{{ true }}"
      />
    </mat-form-field>
  </div>
  <button
    mat-raised-button
    color="accent"
    disabled="{{ start_disabled }}"
    (click)="start()"
  >
    Start
  </button>
  <button
    mat-raised-button
    color="accent"
    disabled="{{ !started }}"
    (click)="stop()"
  >
    Stop
  </button>
  <button
    mat-raised-button
    color="accent"
    disabled="{{ !lap_active }}"
    (click)="lap()"
  >
    Lap
  </button>
  <button
    mat-raised-button
    color="accent"
    disabled="{{ !start_disabled }}"
    (click)="reset()"
  >
    Reset
  </button>
  <div class="stopwatch-lap-container lap-active">
    <div *ngFor="let lap of lap_array.reverse()" class="stopwatch-lap-time">
      <span>{{ lap.hh }}H</span>
      <span>{{ lap.mm }}M</span>
      <span>{{ lap.ss }}S</span>
      <span>{{ lap.ms * 10 }}MS</span>
    </div>
  </div>
</div>
