#stopwatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.stopwatch-heading {
  font-size: 40px;
}
.stopwatch-container {
  display: flex;
  align-items: center;
}
.stopwatch-container > * {
  margin: 0 10px;
}
.stopwatch-container > mat-form-field {
  width: 100px;
  font-size: 20px;
}
.stopwatch-unit {
  font-size: 20px;
  font-weight: 500;
  color: #ffd740 !important;
}

input:disabled {
  color: #ffd740 !important;
}
button[mat-raised-button] {
  width: 50%;
  margin: 5px 0;
}
.lap-active {
  height: 400px;
  width: 50%;
  border: 2px solid black;
}
.lap-active::-webkit-scrollbar {
  width: 10px;
}
.lap-active::-webkit-scrollbar-thumb{
  background-color: #ffd740;
}
.stopwatch-lap-container {
  overflow-y: scroll;
  color: #ffd740;
  font-size: 30px;
}
.stopwatch-lap-time {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0;
}
.stopwatch-lap-time:nth-child(2n) {
  background-color: #ffd740;
  color: black;
}
