<div id="timer">
  <h1 class="timer-heading">Timer</h1>
  <div class="timer-container">
    <mat-form-field appearance="fill">
      <input
        type="number"
        matInput
        value="{{ hh }}"
        (input)="setNewHour($event)"
        disabled="{{ started }}"
      />
    </mat-form-field>
    <div class="timer-unit">H</div>
    <mat-form-field appearance="fill">
      <input
        type="number"
        matInput
        value="{{ mm }}"
        (input)="setNewMinute($event)"
        disabled="{{ started }}"
      />
    </mat-form-field>
    <div class="timer-unit">M</div>
    <mat-form-field appearance="fill">
      <input
        type="number"
        matInput
        value="{{ ss }}"
        (input)="setNewSecond($event)"
        disabled="{{ started }}"
      />
    </mat-form-field>
    <div class="timer-unit">S</div>
  </div>
  <button
    mat-raised-button
    color="accent"
    disabled="{{ started }}"
    (click)="startTimer()"
  >
    Start
  </button>
  <button
  mat-raised-button
  color="accent"
  disabled="{{ !started }}"
  (click)="pauseTimer()"
>
  Pause
</button>
</div>
